body{
		font-family: 'Ledger', serif;
		background: black;
		background-color:#fbfbfb;
		padding: 0px 0px;
}
a{
	cursor: pointer;
	text-decoration: : none;
	color:	#161616;
}

*,*:before,*:after{
	box-sizing: border-box;
}



.nav_page{
	display: flex;
   	width: 100%;
   	margin-left:0px 0px;
   	padding-bottom: 10px 0px;
	justify-content: center;

}

.container__2{
	margin: auto;
}


.bg{
	background-color: black;	
}


.informat{
	margin: 0;
}

.informat button:focus{
	background: #D19494;
	outline: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
	border: none;
}

.informat button{
	cursor: pointer;
	outline: none;
	font-family: 'Ledger', serif;
	border: none;
    margin: 10px 5px;
    height: 60px;
    width: 160px;
    text-decoration: none;
 	background-color:#fbfbfb;
 	box-shadow: none;
	border-radius: 16px;
	transition: background .1s linear;
	transition: box-shadow .1s linear;
}





.nav_page{
	display: flex;
	width: 100%;
	height: 100px;
	margin-top:18px;
	padding: 10px 0px;
	margin: 0px 0px;
	
}






#first__group{
	display: block;
}

#second__group{

	display: none;
}

#third__group{

	display: none;
}

#fours__group{

	display: none;
}

#a5__group{
	display: none;
}




.txt{
	display: flex;
}

.txt p {
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;
	margin: 10px 20px;
	font-size: 20px;
}

.txt img{
	max-width: 1100px;

}

.title h2{
	margin-left: 20px;
}

.underline {
	overflow: hidden;
	width: 200px;
	height: 5px;
	border-radius: 5px;
	margin-left: -30px;
	background: #D19494;
}

.txt2 p{
		text-align: justify;
	margin-left: 20px;
	margin-right: 20px;
	    margin: 5px 20px;

	font-size: 20px;
}




@media screen and (max-width: 1600px){

	.txt img {
    max-width: 810px;

}

button{
	    font-size: 19px;
}

@media screen and (max-width: 1400px){	
	

.txt img {
    max-width: 610px;
    width: 100%;


}

@media screen and (max-width: 1200px){
	.txt img {
    max-width: 410px;
}











@media screen and (max-width: 950px){
.txt {
    display: unset;
}

.title h2{ 
	margin-top: 60px;
}

.text__hist p{
	font-size: 17px;
}
	.txt img {
		margin: 0 0;
		padding:0 0;
		width: 100%;
   	 max-width: 800px;
}

.informat button {
    font-size: 15px;
    width: 137px;
    height: 46px;
    border-radius: 8px;
    padding: 0;
}
 
 .btn_nav_page button{
 	font-size: 15px
 }

.nav_page{
	height: 14px;
}

}












@media screen and (max-width: 750px){
.informat	button {
	font-size:11px;
	padding: 0;
	width: 80px;
}


.text__hist p{
	font-size: 13px;
}
button{
	font-size: 9px
}

.informat button {
    width: 140px;
    height: 46px;
    border-radius: 8px;
    padding: 0;
}

}

@media screen and (max-width: 450px){
.informat button {
    font-size: 13px;
    padding: 0;
    margin: 0px;
    width: 200px;
}
}
