.body{
	font-family: 'Ledger', serif;
	background: #fbfbfb;
	margin:0;
	color: #161616;
}

a{
	text-decoration: : none;
	color:	#161616;
}

*,*:before,*:after{
	box-sizing: border-box;
}

.carousel-item  {
  height: 505px;
  width: 100%;
}

.carousel-inner {
    height: 510px;}

   .carousel-item {
    width: fit-content;}
     

/*=========Header==========*/
.container{
	width: 100%;
	max-width: 1115px;
	margin: auto;
}

.button_better{
	position: absolute;
    right: 1140px;
}

.hellow{
	padding-top: 40px;
	font-family: 'Ledger', serif;
	font-size: 28px;
	margin-left:22% ;
}

.line{
	height: 3px;
	background: #D19494;
	width: 430px;
	margin-left:22%;
	border-radius: 1px;
}

.shadow{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 200px;
	height: 114px;
	margin: -150px 10px 0 900px;
	color: #fff;
	position: absolute;
	display: flex;
	z-index: 2;
}
.qestion{
	font-family: 'Ledger', serif;
	width: 200px;
	display: inline-block;
	color: #000;
	text-decoration: none;
	background-color: #94D1CE;
	padding: 21px 50px;
	display: flex;
	margin: -130px 10px 0 900px;
	font-size: 19px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 100;
	position: absolute;
	transition: background-color .3s linear;
}

.qestion:hover{

	background-color:#A0E3E3;
}

.logo{
	width: 150px;
	height:150px;
	margin: -94px -20px;
	position: absolute;
	left: 40px;
}

.links{
	display: flex;
	justify-content: center;
	justify-content: space-between;
	padding-right: 100px;
    padding-top: 80px;
    margin-left: 15%;
	color:#000;

}

.inst{
	font-family: 'Ledger', serif;
	text-decoration: none;
	font-size: 16px;
}

.vk{
	font-family: 'Ledger', serif;
	text-decoration: none;
}

.site{
	font-family: 'Ledger', serif;
	text-decoration: none;
}

.inst__ico{
	width: 20px;
	height: 20px;
}

.vk__ico{
width: 20px;
height: 20px;
}




/*============NAV=================*/

.nav__bg{
	background: #E4E4E4;
	width: 100%;
	height: 100px;
	margin-top: 10px;
	font-family: 'Ledger', serif;
}

.nav{
	display: flex;
	text-decoration: none;
	justify-content: space-between;
	padding: 0 100px;
	color: #161616;
}

.nav a{
	color: #161616;
	text-decoration: none;	
	margin-top: 34px;
	transition: border-bottom .01s linear;
}



.gall{

}

.gal:active{
	color: #161616;
}


/*========Banner===========*/

.banner{
	width: 100%;
	height:100px; 
	background:#c4c4c4;
	margin-bottom: 10px;
}

/*=============Slider==============*/
.slider{
		margin-top: 10px;
    display: flex;
    justify-content: center;
 	widows: 100%;
    background: #bfbfbf;
}

.fotorama{
	    margin-right: 20px;
    margin-left: 20px;
}

.nav a:hover {
    background-size: 100% 2px;
}
.nav a{
		  text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 95%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.8s;
}


/*==============INFO================*/
.container__v2{
	width: 100%;
	max-width: 4000px;
	margin:0px 0px;
	padding: 0px 0px;
}

.information{
	margin-left:0px;
	margin-top: 90px;
	display: column;
}
.information p{
	padding-bottom: 40px;
    font-size: 20px;
    margin: 25px;
    padding: 0 auto 10px;
}
.information h2{
	font-size: 33px;
	margin:5px 20px;
}
.information a{
    margin-left: 17%;
    margin-top: 120px;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    transition: 0.7s;
    padding: 15px 27%;
    background: #94D1CE;
}
.information img{
	width: 90%;
    object-fit: contain;
    height: 100%;
    margin: auto;
}

.information a:hover{
	background: #8781C6;
}


.block1{
	display: flex;
}

.block2__mobile{
		    	display: none; }



#obv{
	position: absolute;
	rotate:15;
	height: 1000px;
	width: 10000px:
	margin 0 0;
	background: #C4C4C4;
}

.TAG{
	border-bottom: 2px solid #c4c4c4;
}

.podch{
	height: 3px;
	width: 100%;
	margin: 1% 0%;
	background: #c4c4c4;
}

.text{
	 max-width:1400px; 
	 width: 100%;
	 max-height: 450px;
}
.block2{
	display: flex;
	margin-left: 0;
	margin-top:100px;
}
.block2 p{
	padding-bottom: 40px;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 5%;
    padding: 0 5%;
    text-align: justify;
}

.text__l h2{
	display: rtl;
	margin-left: 10%;
}


.text__r h2{
    display: flex;
 	margin-left: 10%;
    margin-top: 5%;
}

.text__l p{

}

.text__r p{
	padding-bottom: 40px;
    font-size: 18px;
   margin-left: 20px auto;
    padding: 0 5%;
   
}

.block1{
	margin-top: 100px;
}


.end__banner{
	display: flex;
	width: 100%;
	height: 200px;
	margin-top:30px; 
	background: #F2F2F2;
}

.end__banner p{
	margin:0; 
}

.end__banner img{
	width: 122px;
	height: 146px;
	margin:auto 10px; 
}

.contacts{
	color: #000;
	margin:auto 10px;
}

.contactsV2{
margin-left: 42%;
    text-align: center;
    margin-right: 66px;
    color: #606060;
    margin-top: 68px;
    display: table-cell;
    justify-content: flex-end;}



@media screen and (max-width: 1600px){
.information h2{
    margin: 10px 42p
	font-size :40px;
}
.information a{
    margin: 8.7%;
}

}

@media screen and (max-width: 1400px){

	.information img {
    	    width: 100%;
    max-width: 534px;
    height: 530px;
    object-fit: none;
}
	.block2{
	margin-top:33px;}

	.block1{
	margin-top: 33px;
}

}

@media screen and (max-width: 1200px){

	.information p{

	}
	.block2__mobile p{
		font-size: 15px;
	}

			.end__banner p{
			font-size: 13px;
		}

}

@media screen and (max-width: 950px){
	body{
		margin:0px 0px;
		padding:0px 0px;
	}
	.header{
		padding:0px 0px	;
	}

	.logo{
		
    	margin: -15% -5%;
    	padding-left: 0;
   		width: 15%;
    	height: auto;
		
		}

	.button_better{
				display: none;
			}


	.qestion{
		display: none;
	}
	.line{
		margin-left: 32%;
    	width: 50%;
    	margin-top: -10%;
	}
	.links{
	justify-content: flex-end;
	padding-top: 10px;
	padding-right: 20px
	}
	.hellow{
		padding-bottom:10%;
		padding-left: 5%;
		font-size: 4vw;
	}

		.block2
			{
			display: none;
			}

	
	
		.block1{
		display: block;
	}
	.information img{
	width: 100%;
	margin-top: 48px;
	    max-width: 100%;

	}
	
	.information a{
	padding: 5px 1%;
    width: 82%;
    justify-content: center;
    display: flex;
    font-size: 4vw;
    margin-left: 9%;
}
	
	.information p{
	margin-left:4%;	
	margin-bottom: 30px;
	font-size: 18px;
	}
	.nav_bg{
		height: 20%;
	}
	.information h2{
		justify-content: center;
    display: flex;
    margin-right: 0;
    margin-left: 0;
    font-size: 30px;
		}

		.end__banner p{
			font-size: 11px;
		}

		 .nav	{
		 	padding: 0 10%;
		 }
		 .nav .mus{
		 	padding-top: 0%;
		 }
		.nav a{
		    display: flex;
		    font-size: 3vw;
		 	 padding: 2% 3% 2% 3%;
		}
		
		
		.nav__bg{
			background: #E4E4E4;
			width: 100%;
			height: 40%;
			margin-top: 10px;
			padding-bottom: 2%;
			font-family: 'Ledger', serif;
		}
		.nav_bg a{
			padding: 0% 0%;
		
		}
		
		    .block1 img{
		    	margin-top: -17px;

		    }


		    .block2__mobile{
		    	display: block;
		    	margin-top: -27px;
		    }

		   	.block2__mobile p{
		    	display: block;
		    	padding-bottom: 40px;
    			margin-top: 20px;
   			    margin-right: 5%;
    			padding: 0 5%;
    			font-size: 18px;
    			text-align: justify;
		    }


		.inst{
			display: none;
		}

		.vk{
			display: none;
		}	

		.site{
			display: none;
		}

		.inst__ico{
	width: 20px;
	height: 20px;
	margin-right: 20px;
}

.vk__ico{
width: 20px;
height: 20px;
}




}


@media screen and (max-width: 750px){
	.contactsV2 {
    margin-left: 0;
    text-align: center;
    margin-right: 66px;
    color: #606060;
    margin-top: 68px;
    display: table-cell;
    justify-content: flex-end;
}
@media screen and (max-width: 450px){
.end__banner p {
	font-size: 8px;
}

.controls {
    margin: -115px 0 0 0;
    height: 0px;
    width: 100% ;
}

#first{
    margin-top: -109px;
}

}
