.body{
	font-family: 'Ledger', serif;
	background: #fbfbfb;
	margin:0;
	color: #161616;
}

iframe{
	margin: auto;
	width: 560px ;
}

.video{
	margin-left: auto;
    margin-right: auto;
	width: 560px ;
}

a{
	text-decoration: : none;
	color:	#161616;
}

*,*:before,*:after{
	box-sizing: border-box;
}


/*============NAV=================*/



.gall{

}

.gall:active{
	color: #161616;
}




/*=============slider===========*/

body .slider{
	margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
        margin-bottom: 20px;
        background: #fbfbfb;
}

.name{
	display: flex;
	justify-content: center;
}

.thumb-wrap {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}
.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

@media screen and (max-width: 1600px){


}

@media screen and (max-width: 1400px){



}

@media screen and (max-width: 1200px){


}

@media screen and (max-width: 950px){



}


@media screen and (max-width: 750px){
}
}
@media screen and (max-width: 450px){


}
