body{
margin: 0 0;
padding: 0 0;
}

#logo{
left: 10vh ;
top: 6vh ;
background: #E4E4E4;
position: absolute;
height: 15vh;
width:15vh;
}

#sh{
position: absolute;
width: 100%;
padding: 0;
margin: 0;
background: #FFF;
}


#btn_vop{
position: absolute;
background:#94D1CE;
font-size:4vh;
height: 12vh;
width: 10vw;
top: 0;
margin-left: 80vw;
padding:0.5vh 2vw;
}

#pod{

position: absolute;
width: 55vw;
height: 0.6vh;
left: 19vw;
top: 16vh;

background: #D19494;
border-radius: 25px;
}
#men{
position: absolute;
width: 94.9vw;
left: 0px;
top: 27vh;
padding :6vh;
background: #E4E4E4;
}

.btn_men{

margin: 0;
padding-left: 11vw;
text-decoration: none;
font-size: 3vh;
color: #000;
top:47vh;
}