body{
	margin: 0 0;
	padding: 0 0;
}
.container{
	width: 1170px;

}
#logo{
	left:  75px ;
	top: 45px ;
	background: #E4E4E4;
	position: absolute;
	height: 112px;
	width:112px;
}

#sh{
	position: absolute;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background: #FFF;
}


#btn_vop{
	position: absolute;
	background:#94D1CE;
	font-size:30px;
	height: 90px;
	width: 140px;
	top: 0;
	margin-left: 1196px;
	padding:4px 30px;
}

#pod{

	position: absolute;
	width: 	820px;
	height: 4.5px;
	left: 	284px;
	top:	120px;

	background: #D19494;
	border-radius: 25px;
}
#men{
	position: absolute;
	width: 1335px;
	left: 0px;
	top: 202px;
	padding :45px;
	background: #E4E4E4;	
}
#ban{
	position: absolute;
	width: 1425px;
	height: 156px;
	left: 0px;
	top: 317px;

background: #C4C4C4
}

#sl{
	position: absolute;
	width: 1425px;
	height:  280px;
	left: 0px;
	top: 480px;

background: #C4C4C4;
}
.btn_men{

	margin: 0;
	padding-left: 164px;
	text-decoration: none;
	font-size: 22px;
	color: #000;
}

@media screen and (max-width: 1200px){
	.container{
		width: 1170px;
	}

}
@media screen and (max-width: 1199px){
	.container{
		width: 960px;
	}
	#sl{
		width: 1009px;}

	#ban{
		width: 1009px;
	}

	#men{
		width: 919px;
		padding-left: 50px;

	}
	.btn_men{

	margin: 0;
	padding-left: 100px;
	font-size: 20px;
	color: #000;
}


}
@media screen and (max-width: 991px){
	.container{
		width: 900px;
	}
}

