

/*================search========================*/
.menu{
	position: fixed;
	display: inline-grid;
	right: 30px;
	top: 60%;
}
.liveSearchBar, .liveSearchBar li{
  margin:0;
  padding:0;
  list-style:none;
  background: #fbfbfb;
  width :fit-content;
}
.liveSearchBar li{
	display: flex;
	margin-top: 25px;
}

.liveSearchBar, .liveSearchBar li a{
  color:#000;
  text-decoration:none;
  
}
.liveSearchBar p{
	font-size: 1.2em;
}

#live-search fieldset{
  border:0;
  padding-left:0;
}
:focus{
  outline:none;
}




.text-input{
  height:30px;
  margin:70px 0 15px 40px;
  background: #94D1CE;
  padding:5px ;
  font-size: 20px;
  color:#000;
  width: 300px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
}
::-webkit-input-placeholder {
     color: #3C3C3C; padding-left: 10px;
  }
  
  :-moz-placeholder { /* Firefox 18- */
     color: #3C3C3C;   padding-left: 10px;
  }
  
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #3C3C3C;   padding-left: 10px;
  }
  
  :-ms-input-placeholder {  
     color: #3C3C3C;  
     padding-left: 10px;
  }


  .liveSearchBar img{
  	display: flex;
  	max-height: 400px;
  	margin-left: 65px;
  }
.text{
margin-left: 20px;
margin-right: 65px;
text-align: justify;
width:fit-content;
}

.container__20{
	margin: auto;
	max-width: 1100px;
	width:100%;
}

 .liveSearchBar a{
 position: absolute;
    margin-top: 50px;
    margin-left: 193px;
    padding: 11px 142px;
    background: #94D1CE;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: background .2s ease-in-out;
}

.liveSearchBar a:hover{
	background: #8781C6;
}





@media screen and (max-width: 1200px){
	.liveSearchBar a{
	margin-top: 5%;
    margin-left: 15%;
    padding: 9px 100px;

}
}
@media screen and (max-width: 950px){
.menu{
	display: none;
}
.liveSearchBar li{
	width: 96%;
	display: block;
	padding-bottom: 90px;
}
.liveSearchBar a{
	padding: 5px 1%;
    width: 82%;
    justify-content: center;
    display: flex;
    font-size: 4vw;
    margin-left: 5%;
}

.liveSearchBar p{
    margin-top: 10px;
    margin-right: 5%;
    padding: 0 5%;
    font-size: 18px;
    text-align: justify;
}

.liveSearchBar h3{
   justify-content: center;
    display: flex;
    margin-right: 0;
    margin-left: -3%;
    font-size: 30px
}

.liveSearchBar img{
margin: auto;
}

}

}
@media screen and (max-width: 750px){
	.liveSearchBar li{

	display: block;
	padding-bottom: 90px;
}
	
}
@media screen and (max-width: 450px){
.liveSearchBar li{
	display: block;
	padding-bottom: 90px;
}

}